/* estilos básicos*/

body, html {
    height: 100%;
    margin: 0;
    font-family: "Raleway", sans-serif;
    background-color: #000000;
  }

  h1 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    text-align: center;  
    margin-top: 5%;
    color: #ffffff;
}

h2{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: left;
}

h3{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: left;
}

h4{
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  text-align: center;
  color: #ffffff;

}
  
/* estilos de imágen*/

  .bg-image {
    height: 85%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img1 { 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(img/Polillatattoo\ Mockup\ 1.jpg); }
    .img1 a {
      width: 100%;
      height: 100%;
      display: block;
    }

  .img2 { 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(img/IMG_6048.jpg); }
    .img2 a {
      width: 100%;
      height: 100%;
      display: block;
    }

  .img3 { 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(img/3.jpg); }
    .img3 a {
      width: 100%;
      height: 100%;
      display: block;
    }

  .img4 { 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(img/Realistic-Posters-Mockup.jpg); }
    .img4 a {
      width: 100%;
      height: 100%;
      display: block;
    }

  .img5 { 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(img/02\ Front.jpg); }
    .img5 a {
      width: 100%;
      height: 100%;
      display: block;
    }


    @media only screen and (max-width: 600px) {
 .bg-image {
    width: 100%; /* ancho para pantalla de celular */
    height: 150px; /* alto para pantalla de celular */
    margin: 5px; /* margen entre elementos para pantalla de celular */
  }
}

/* estilos página sobre mi */

.sobre-mi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  padding: 150px;
  box-sizing: border-box;
}

.sobre-mi img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 40px;
}

.sobre-mi p {
  font-size: medium;
  line-height: 1.5;
}

/* estilo del navbar */

header {
  background-color: #000000;
  padding: 10px 0;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem
}

nav a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 10px;
  font-weight: bold;
}

.nav-right {
  display: flex;
}

  /* código de https://www.w3schools.com/howto/howto_css_bg_change_scroll.asp ; https://www.w3schools.com/howto/howto_css_parallax.asp */